<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
          integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
</head>
<body>

<!-- Intro -->
<section>
    <div class="container">
        <span class="rectangle col-sm-12"></span>
        <div id="intro" class="jumbotron col-sm-12">

            <div class="row">
                <div class="col-md-6">
                    <h2 class="intro-text">Upgrade Your<br>Working abilities<br>With <img src="/sites/default/files/images/Loopa_Icon.png"
                                                                                          alt="Loopa"></h2>
                </div>
                <div class="intro-image col-md-6">
                    <img src="/sites/default/files/images/Loopa_intro-micro.png">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Meet Loopa -->
<section>
    <div class="container">
        <div class="row col-sm-12">
            <div>
                <h3><strong>Meet Loopa,</strong> a Brand New<br>Magnifying Workstation</h3>
                <p>Looa is a newly developed ergonomic workstation based on a HD camera and monitor. Loopa<br>is
                    designed to replace the traditional magnifying lamps that exist on almost every work table. It<br>provides
                    a clear, sharp HD qulity imae allowing an easy, stressfree working environment</p>
            </div>
        </div>
        <div class="row">

            <img class="col-sm-12" src="/sites/default/files/images/Loopa_pager_camera_explenation.png">
        </div>
    </div>
</section>

<!-- Additional Features -->
<section class="add-features">
    <div class="container">
        <div class="row">
            <h3 class="col-sm-12">Additional Features</h3>
        </div>
        <div class="row">
            <ul class="list-group col-xs-12">
                <li class="col-xs-6">High quality HD camera & monitor creating a cllear image</li>
                <li class="col-xs-6">Measuring capabilities (line, circle, sqaure and triangle)</li>
                <li class="col-xs-6">4 USB ports allow connection to external illumination, stick memory, laser pointer, UV illumination
                    (for conformal coating inspection), bar code reader etc...
                </li>
                <li class="col-xs-6">Etharnet port allows connecting Loopa to the company network</li>
                <li class="col-xs-6">Convert picture opacity allowing comparison of overlay image</li>
                <li class="col-xs-6">Auto calibration</li>
                <li class="col-xs-6">Moderate price</li>
                <li class="col-xs-6">Modern colorful appearance</li>
            </ul>
        </div>
    </div>
</section>

<!-- Accessories -->
<section>
    <div class="container">
        <div class="row">
            <h3>Accessories</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <img src="/sites/default/files/images/Back_panel_com_port.png">
                <p>Back panel communications ports</p>
            </div>
            <div class="col-lg-4  col-sm-6">
                <img src="/sites/default/files/images/Side_panel_Usb_port.png">
                <p>Side panel USB ports</p>
            </div>
            <div class="col-lg-4  col-sm-6">
                <img src="/sites/default/files/images/Mouse.png">
                <p>Loopa mouse</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/sites/default/files/images/Foot_panel.png">
            <p>3 Way foot pedal</p>
        </div>
        <div class="col-lg-4  col-sm-6">
            <img src="/sites/default/files/images/Led-illumination_bar.png">
            <p>LED illumination bar</p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img src="/sites/default/files/images/Laser_pointer.png">
            <p>Laser pointer</p>
        </div>
    </div>
</section>

<!-- Technical Specifications -->
<section class="technical-spec">
    <div class="container">
        <div class="row">
            <h3>Technical Specifications</h3>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <tbody>
                <tr>
                    <th>Image resolution</th>
                    <td>Full HD - 1920x1080p</td>
                </tr>
                <tr>
                    <th>Zoom range</th>
                    <td>Optical x30 , Digital x12</td>
                </tr>
                <tr>
                    <th>LED illumination</th>
                    <td>Software Adjustable</td>
                </tr>
                <tr>
                    <th>Focus</th>
                    <td>Auto/Manual</td>
                </tr>
                <tr>
                    <th>Control</th>
                    <td>Wireless optical mouse / foot pedal</td>
                </tr>
                <tr>
                    <th>View area</th>
                    <td>470mm [zoomx1.0] 20mm [zoomx30]</td>
                </tr>
                <tr>
                    <th>Object Height Range</th>
                    <td>>440mm - 320mm fom camera lens</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <tbody>
                <tr>
                    <th>Image resolution</th>
                    <td>Full HD - 1920x1080p</td>
                </tr>
                <tr>
                    <th>Zoom range</th>
                    <td>Optical x30 , Digital x12</td>
                </tr>
                <tr>
                    <th>LED illumination</th>
                    <td>Software Adjustable</td>
                </tr>
                <tr>
                    <th>Focus</th>
                    <td>Auto/Manual</td>
                </tr>
                <tr>
                    <th>Control</th>
                    <td>Wireless optical mouse / foot pedal</td>
                </tr>
                <tr>
                    <th>View area</th>
                    <td>470mm [zoomx1.0] 20mm [zoomx30]</td>
                </tr>
                <tr>
                    <th>Object Height Range</th>
                    <td>>440mm - 320mm fom camera lens</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- Footer -->
<section>
    <footer id="loopa-footer" class="container-fluid">
        <div class="container">
            <div class="row">
                <img class="col-sm-2" src="/sites/default/files/images/Loopa_Icon.png" alt="Loopa" style="margin: 1px">
                <p class="col-sm-2 ftr-link"><a href="www.loopa-inspection.com">www.loopa-inspection.com</a></p>
                <p class="col-sm-2 ftr-company">Electron Csillag Ltd.</p>
                <p class="col-sm-2 ftr-address">12 Shabazi St. Yehud 5623025, Israel</p>
                <p class="col-sm-2 ftr-phone"><strong>TEL</strong> 972363 25472</p>
                <p class="col-sm-2 ftr-mail2">Info@electron.co.il</p>
            </div>
        </div>
    </footer>
</section>

</body>
</html>